<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-success progress-bar-striped active" style="height:15px;"
                        [style.width]="getProgress1" role="progressbar"> {{progress1}}%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" style="height:15px;"
                        [style.width]="getProgress2" role="progressbar"> {{progress2}}%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment [btnClass]="'btn-success'" [value]="progress1" (value)="progress1 = $event">
                </app-increment>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment [btnClass]="'btn-primary'" [value]="progress2" (value)="progress2 = $event">
                </app-increment>
            </div>
        </div>
    </div>
</div>