<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
               <app-doughnutchart
               [title]="'My Sales'"
               [label] = "['Data11', 'Data12', 'Data13']"
               [data] = "[[350, 2500, 300]]"               
               ></app-doughnutchart>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
               <app-doughnutchart
               [title]="'My Sales 2'"
               [label] = "['Data21', 'Data22', 'Data23']"
               [data] = "[[300, 300, 300]]"               
               ></app-doughnutchart>
            </div>
        </div>
    </div>
</div>